[Unit]
Description=ORNA assets bot
After=network.target

[Service]
User={{ orna_assets_bot_username }}
Group={{ orna_assets_bot_group }}
WorkingDirectory={{orna_assets_bot_path}}
ExecStart={{orna_assets_bot_path}}/.venv/bin/python {{orna_assets_bot_path}}/main.py
Environment="PATH={{orna_assets_bot_path}}/.venv/bin"
Restart=on-failure
RestartSec=90

[Install]
WantedBy=multi-user.target