TOKEN='{{ orna_assets_bot_token }}'
OCR_SPACE_API_KEY='{{ ocr_space_api_key }}'
DEVELOPER_CHAT_ID='{{ orna_assets_bot_developer_chat_id }}'
LOG_LEVEL='{{ orna_assets_bot_log_level }}'
LOG_FILENAME='{{ orna_assets_bot_log_filename }}'
